<!DOCTYPE html>
	<script src="https://use.typekit.net/bkt6ydm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
	
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">~</a></li>
		        	<li><a href="#ABOUT">~/about</a></li>
				<li><a href="#RESEARCH">~/research & teaching</a></li>
				<li><a href="#EXPERIENCE">~/experience</a></li>
				<li><a href="#AWARDS">~/awards</a></li>
				<li><a href="/Priyal_Suneja_Resume.pdf"target="_blank">~/resume</a>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				Powered by Priyal 
				<a style="float:right" href="/website/index.html" target="_blank">How I built this Website</a>
			</footer>
		</body>
	</html>
