<!DOCTYPE html>
	<script src="https://use.typekit.net/bkt6ydm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<script src="https://kit.fontawesome.com/yourcode.js"></script>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="#ABOUT">About</a></li>
				<li><a href="#RESUME">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:priyalsuneja@gmail.com">email</a></li>
	        		<li><a href="https://github.com/p-suneja">github.com</a></li>
				<li><a href="https://www.linkedin.com/in/priyalsuneja/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
